<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhou.dao.user.UserDao">

    <select id="getLoginUser" resultType="user">
        select * from smbms.smbms_user where userCode = #{userCode}
    </select>

    <resultMap id="UserList" type="user">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="userCode" jdbcType="VARCHAR" property="userCode"/>
        <result column="userName" jdbcType="VARCHAR" property="userName"/>
        <result column="userPassword" jdbcType="VARCHAR" property="userPassword"/>
        <result column="gender" jdbcType="INTEGER" property="gender"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="userRole" jdbcType="BIGINT" property="userRole"/>
        <result column="createdBy" jdbcType="BIGINT" property="createdBy"/>
        <result column="creationDate" jdbcType="TIMESTAMP" property="creationDate"/>
        <result column="modifyBy" jdbcType="BIGINT" property="modifyBy"/>
        <result column="modifyDate" jdbcType="TIMESTAMP" property="modifyDate"/>
        <result column="userRoleName" property="userRoleName"/>
    </resultMap>
    <select id="getUserList" resultMap="UserList">
        select u.*,r.roleName as userRoleName
        from smbms_user u, smbms_role r
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            and u.userRole = r.id
            <if test="userCode != null and userCode != ''">
                and u.userCode like CONCAT("%",#{userCode},"%")
            </if>
            <if test="userRole != 0">
                and u.userRole like CONCAT("%",#{userRole},"%")
            </if>
            limit #{currentPageNo},#{pageSize}
        </trim>
    </select>


    <select id="getUserCount" resultType="_int">
        select count(1) as count
        from smbms_user u,smbms_role r
        <trim prefix="WHERE" prefixOverrides="AND |OR">
            and u.userRole = r.id
            <if test="userCode != null and userCode != ''">
                and u.userCode like CONCAT("%",#{userCode},"%")
            </if>
            <if test="userRole != 0">
                and u.userRole like CONCAT("%",#{userRole},"%")
            </if>
        </trim>
    </select>

</mapper>